@charset "UTF-8";

/*
======= TAMANHO TELAS ========
    PEQUENAS: ATÉ 600PX;
    CELULAR: DE 600 ATÉ 768PX
    TABLET: 768 ATÉ 992
    DESKTOP: 992 ATÉ 1200
    GRANDES TELAS: ACIMA DE 1200PX
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #a9c73e, #10454F);
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    
}

@media screen and (min-width: 992px) and (max-width: 1900px) {
    body {
        background-image: linear-gradient(to top, #a9c73e, #10454F);
    }

    section#login {
        width: 950px;
        height: 300px;
    }
    
    section#login > div#imagem {
        float:right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    
}

div#formulario > h1 {
    font-size: 2em;
}

div#formulario > p {
    font-size: 1em;
}